doctype html
head
  title 登录页面
body
  form( action="/dologin" method="post" )
    p 用户名:
      input( type="text" name="name")
    p 密码:
      input( type="password" name="password" )
      input( type="submit" value="提交" )
      